:root {
    --primary: #f4f4f2;
    --secondary: #e8e8e8;
    --hightlight: #bbbfca;
    --navigation: #495464;
}

body,
html {
    padding: 0;
    margin: 0;
    background-color: var(--primary);
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
.nav-link {
    font-family: 'Quicksand', sans-serif;
}

p,
small,
a,
button,
input,
label {
    font-family: 'Roboto', serif;
}

.product-img {
    border-right: 1px solid #a4a4a4;
}

#landing {
    padding: 60px 0;
}

.sections {
    border-bottom: 1px solid var(--hightlight);
}

#categories {
    padding: 0px 0px 60px;
}

.first {
    background-color: var(--primary);
}

.second,
.item,
.wrap {
    background-color: var(--secondary);
}

div>.info {
    width: 3.5rem;
    height: 3.5rem;
}

.field {
    width: 25rem;
    padding: 5px 8px;
    outline-style: initial;
    outline-color: brown;
}

.forms {
    min-height: 100vh;
}